# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Data files
data/
*.csv
*.txt
*.zip

# Models
*.pkl
*.joblib

# Environment
.env
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/